
body{
    font-family: Arial, sanserif;
    background-color: hsl(0, 0%, 95%);
}

h1{
    color: hsl(223, 100%, 64%);
}

form{
    background-color: #fff;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 0%, 0%, .3);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%, .8);
    border-radius: 5px;
    margin-bottom: 15px;
}

label{
    font-size: 1em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: hsl(223, 100%, 64%);
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: hsl(223, 100%, 40%);
    color: hsl(0, 0%, 95%);
}

#result{
    font-size: 1.75em;
    padding-top: 10px;
    font-weight: bold;
}