
.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides img{
    width: 100%;
    display: none;
    max-height: 60vh;
}

img.displaySlide{
    display: block;
}